{% sw_extends '@Storefront/storefront/page/account/order/index.html.twig' %}

{% block page_checkout_confirm_form_submit %}
    {{ parent() }}

    {% if page.googlePayData is not null %}
        {% block cko_gpay_button %}
            <div class="cko-google-pay-area" id="cko-google-pay-area">
                <input type="hidden" id="cko_pk" name="cko_pk" value="{{ page.ckoPublicKey }}" />
                <input type="hidden" id="gpay_merchant_id" name="gpay_currency" value = "{{page.googlePayData.gPayMerchantId}}" />
                <input type="hidden" name="cko_payment_methodId" id="cko_payment_methodId" value="{{page.ckoPaymentMethodId}}" />
                <input type="hidden" name="gpay_env" id="gpay_env" value="{{page.googlePayEnv}}" />

                <script>
                    /**
                    * Setting these info as global variable as we need them in Gpay script
                    * These are only used for display purposes and will not affect the payment processing
                    */
                    window.display_currency = "{{page.googlePayData.currency}}"
                    window.display_total = "{{page.googlePayData.totalPrice}}"
                    window.display_cuntry = "{{page.googlePayData.billingCountry}}"
                </script>

                <script src="{{ path('frontend.cko.googlepay.js')}}"></script>
                <script type="text/javascript" src="https://pay.google.com/gp/p/js/pay.js" onload="CheckoutcomGooglePay();"></script>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
